p {
  border: none;
  background: none;
  font-weight: 700;
  color: var(--secondary);
  font-size: 1.2vw;
  /* cursor: pointer; */
}

.button {
  border: none;
  background: none;
  font-weight: 700;
  color: var(--accent);
  font-size: 1.2vw;
  cursor: pointer;
}

.modal {
  font-size: 12px;
  background-color: var(--secondary);
  color: white;
  height: 50vh;
  width: 40vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal .header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 1vh 5vw;
  font-weight: 700;
  color: var(--accent);
}

.modal .content {
  height: 35vh;
  width: 100%;
  padding: 2vh 5vw;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
}

.modal .content button {
  width: 25vw;
  border: none;
  padding: 2vh 5vw;
  font-weight: 700;
  background-color: var(--accent);
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.modal .actions .button {
  padding: 1vh 2vw;
  background-color: white;
  border: none;
  border-radius: 10px;
}

@media screen and (width<600px) {
  .modal {
    height: 60vh;
    width: 90vw;
  }

  .modal .header {
    height: 10vh;
    font-size: 6vw;
  }

  .modal .content button {
    width: 40vw;
    font-size: 4vw;
    font-weight: 700;
  }

  .modal .actions {
    height: 10vh;
    width: 100%;
  }

  .modal .actions .button {
    width: 25vw;
    padding: 2vh 5vw;
    font-size: 4vw;
  }

  .modal>.close {
    padding: 5px 8px;
  }
}