footer {
  height: auto;
  width: 100%;
  background-color: #0e3041;
}

footer .top-button {
  height: 10%;
  width: 100%;
  padding: 2vh;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #094d6ec2;
  cursor: pointer;
}

footer .footer-lists {
  height: 65%;
  width: 100%;
  margin-top: 1rem;
  padding: 3vh;
  border-bottom: 1px solid grey;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  /* gap: 2vw; */
}

footer .footer-lists a {
  text-decoration: none;
  margin-top: 1vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
}

footer .footer-bottom {
  padding: 3vh;
  height: 10%;
  width: 100%;
  color: #fff;
  font-size: 1vw;
}

footer .footer-bottom ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  gap: 3vw;
  top: 50%;
}

.footerUL {
  width: 30vw;
}

.footerUL li {
  text-wrap: wrap;
  width: 100%;
}

@keyframes fade {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  footer .footer-lists {
    gap: 2vw;
  }

  footer .footer-lists li {
    text-align: center;
    font-size: 2.8vw;
  }

  footer .footer-lists a {
    text-align: center;
    font-size: 2.8vw;
  }

  footer .footer-lists .contact {
    color: var(--accent);
  }

  /* .footerUL {
    border: 1.5px solid red;
  } */

  .footer-bottom ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer-bottom ul li {
    font-size: 3vw;
    text-align: center;
  }
}
