.loanDetails {
  width: 100%;
  padding: 5vw;
  color: var(--secondary);
  background-color: var(--bg);
  .loan-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    .info {
      width: 70%;
    }
    .img {
      width: 28%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  h1 {
    font-size: clamp(2.7rem, 2.1795rem + 1.0256vw, 3rem);
    font-weight: 900;
    text-align: center;
    color: var(--accent);
  }

  h3 {
    font-size: clamp(2.5rem, 2.3077rem + 0.6154vw, 2.8rem);
    margin-top: 5vh;
    font-size: 2rem;
    font-weight: 900;
    color: var(--secondary);
  }

  p {
    font-size: clamp(1.1rem, 1.0038rem + 0.3077vw, 1.25rem);
    font-weight: 500;
    margin-top: 2vh;
    line-height: 1.5;
  }
  .calc-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    .link-btn {
      width: max-content;
      padding: 1em;
      background-color: var(--accent);
      border-radius: 25px;
      margin-top: 3vh;
      text-align: center;
      text-decoration: none;
      color: black;
      font-weight: 700;
    }
  }
  .document-requirements {
    .document-list {
      list-style-type: none;
    }
  }
  .feature-step,
  .process-step {
    display: flex;
  }
}

/* Media Query for screens narrower than 600px */
@media screen and (max-width: 600px) {
  .loanDetails {
    .loan-info {
      flex-direction: column;
      .info {
        width: 100%;
      }
      .img {
        width: 80%;
      }
    }
  }
}
