#mainLoanPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
  background-color: var(--bg);
}

.loanCalciH1 {
  font-size: clamp(2rem, 1.6795rem + 1.0256vw, 2.5rem);
  color: rgba(0, 0, 0, 0.731);
  font-weight: 900;
}

.loanCalculatorPage {
  padding: 5vh 0;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.sub-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.details {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detail {
  margin-bottom: 5px;
}
.chart-details > .loanDetailsP {
  color: white;
  font-size: clamp(1.4rem, 1.2359rem + 0.2051vw, 1.5rem);
}
.label {
  font-size: 1.5rem;
  color: #000000;
}

.emiDisplayer {
  text-align: center;
  background-color: var(--secondary);
  border-radius: 25px;
  width: 100%;
  margin-top: 5vh;
  height: clamp(8rem, 6.7179rem + 4.1026vw, 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.amtvalue {
  color: #000000;
  font-size: 1.2rem;
}

.totalSelected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#price-container {
  font-size: clamp(1.5rem, 1.4718rem + 0.4103vw, 1.8rem);
  display: flex;
  color: #ffffffde;
  flex-direction: column;
}

#price {
  color: var(--accent);
  font-size: clamp(1.6rem, 1.4718rem + 0.4103vw, 1.8rem);
}

.breakup {
  flex: 1;
}

.loan-details {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: var(--secondary);
  text-align: center;
}

.chart-details .value {
  color: var(--accent);
  font-size: clamp(1.6rem, 1.4718rem + 0.4103vw, 1.8rem);
}

/*----- Styling the sliders ----*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20rem;
  border-radius: 10px;
  background-color: var(--secondary);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -8px;
  background-color: var(--accent);
  height: 1.5rem;
  width: 1rem;
  border-radius: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--accent);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(112, 224, 0, 0.445);
}

input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(112, 224, 0, 0.445);
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(112, 224, 0, 0.445);
}
